body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.yo {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
}

.red {
    background-color: yellow;
    padding-right: 80px;
}

.green {
    background-color: yellow;
    padding-bottom: 80px;
}

.max {
    padding-bottom: 70px;
}

.flex {
    display: flex;
}

.green1 {
    margin-top: 60px;
    background-color: rgb(0, 255, 34);
    padding-top: 70px;

}

.green2 {
    background-color: rgb(0, 255, 34);
    padding-bottom: 140px;
}